<!--Implemento 1: Paso 1: Cree componentes con el comando ng generate component RealizarCompra y se crea el html de la pagina de realizar compra-->
<div class="compra-container">
  Seguro que quieres realizar esta compra?
  <br>
  <!--Implemento 1: Paso 12: Se agrega el routerlink para la pagina de agradecimiento
    y la funcion allremove en el comprar-->
  <a routerLink="/agradecimiento-compra" class="comprar-button"(click)="allRemove()">Comprar</a>
</div>

  

