/*Paso 2: Coloque el diseño css*/
.compra-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 300px;
    margin: 0 auto;
  }
  
  p {
    font-size: 18px;
    margin: 0;
  }
  
  .comprar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .comprar-button:hover {
    background-color: #0056b3;
  }
  