/*Implemento 2: Paso 2: Se crea el css o diseño del html*/
.agradecimiento-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin: 0 0 20px;
  }
  
  p {
    font-size: 18px;
    color: #555;
    margin: 0 0 30px;
  }
  
  .volver-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .volver-button:hover {
    background-color: #0056b3;
  }
  