<!--Implemento 2: Paso 1: Se crea el componente de agradecimiento-compra con el comando ng component AgradecimentoCompra-->
<div class="agradecimiento-container">
    <h1>¡Gracias por tu compra!</h1>
    <p>Pronto te contactaremos para darte noticias de tu o tus productos!!.</p>
    <!--Implemento 2: Paso 9: Se inserta el routerlink sin poner nada para que me lleve a la pagina principal-->
    <a routerLink="/" class="volver-button">Volver a la página principal</a>
  </div>
  
