<main>
    <h2>Bienvenido <br> a  <br> tienda de Kevin</h2>
    <app-carrouser [autoSlider]="true"></app-carrouser>
</main>
<app-segundo></app-segundo>
<app-tercero></app-tercero>
<app-garantias></app-garantias>
<app-cuarto></app-cuarto>
<!-- <app-footer></app-footer> -->