<!--Implemento 4: Paso 1: Creacion del componente "Contacto" con el comando ng generate component MensajeContacto
 y diseño html del mensaje despues de contactar-->
<div class="agradecimiento-container">
    <p>Gracias por contactarnos, pronto nosotros contactaremos contigo.</p>
    <button routerLink="/" class="volver-button">Volver</button>
  </div>
  
