
<!--Implemento 3: Paso 1: Creacion del componente "Contacto" con el comando ng generate component Contacto
 y diseño html del formulario para contacto-->
<div class="contact-form">
    <h2>Recuperación de Contraseña</h2>
    <form (submit)="submitForm()" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required pattern="[A-Za-z\s]+">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" [(ngModel)]="telefono" required pattern="[0-9]+">
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="correo" required>
      </div>
      <button type="submit" routerLink="/mensaje-contacto">Enviar</button>
    </form>
  </div>